/* hightlight nav bar */
nav .center ul li:nth-child(2) a::after {
    width: 100%;
}

// variable
$main-color:#62d2ae;
$white: #fff;
$black: #000; 

// css
section {
    margin-top: 5rem;
    
    .contener {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .personal-info {
            h1 {
                font-size: 35px;
                text-transform: capitalize;
                margin-bottom: 2rem;
                position: relative;
                
                &::before {
                    content: '';
                    width: 5px;
                    height: 100%;
                    background-color: $main-color;
                    position: absolute;
                    left: -10px;
                }
            }
            .description {
                position: relative;
                left: 7%;

                p {
                    font-size: 20px;
                }
            }
        }
        .education {
            margin-top: 3rem;

            h1::before {
                background-color: #777777;
            }
        }
    }
}