// importfont 
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

// variable
$pimary-color:#4ecca3 ;

// css 
* {
    scroll-behavior: smooth;
}
body {
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}


.contaner {
    margin: 2rem auto;
    max-width: 1800px;
    padding: 0 2rem;
}
a {
    color: inherit;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #000;
}

// header style
header {
    border-bottom: 1px solid $pimary-color;
    padding: .5rem;
    background-color: #fff;

    .contaner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;        
        .logo {
            
            a {
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                }
                h1 {
                    font-size: 35px;
                }
            }
        }
        nav {
            ul {
                display: flex;
                gap: 1.6rem;

                li {
                    position: relative;
                    
                    &::after {
                        content: '';
                        width: 5px;
                        height: 5px;
                        background-color: $pimary-color;
                        position: absolute;
                        left: 50%;
                        bottom: -10px;
                        transform: translateX(-50%);
                        transition: width .25s ease;
                    }
                    &:hover::after {
                        width: 100%
                    }
                }
            }
        }
        .social {
            ul {
                display: flex;
                gap: 1rem;
            }
        }
        .hamberger {
            display: none;
        }
    }
    // nav toggle
    aside {
        position: fixed;
        background-color: #fff;
        border-radius: 20px;
        padding: 2.5rem;
        padding-left: 1.5rem;
        box-shadow: -2px -1px 12px 2px rgba(0, 0, 0, 0.2);
        font-size: 35px;
        min-width: 350px;
        max-width: 20%;
        height: 500px;
        left: 100%;
        z-index: 100;
        ul {
            display: grid;
            gap: 20px;

            li {
                transition: all .25s ease;
                &:hover {
                    color: $pimary-color;
                    transform: translateX(10px);
                }
            }
        }
        .profile {
            position: absolute;
            bottom: 20px;
            display: flex;
            gap: .5rem;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            h1 {
                word-wrap: none;
            }
        }
    }
}

// footer style 
footer {
    border-top: 1px solid $pimary-color;
    margin-top: 2rem;

    .contaner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-nav {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: end;
            gap: 1.5rem;

            a {
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                }
                span {
                    font-size: 25px;
                }
            }
            ul {
                display: grid;
                grid-gap: 1rem;
                li {
                    font-size: 25px;
                    transition: color .25s , transform .25s;
                    &:hover {
                        transform: translateX(10%);
                        color: $pimary-color;
                    }
                }
            }
        }
    }
}